* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  height: 99vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  align-items: center;
}

h1 {
  color: white;
}
.container {
  margin-top: 5%;
  flex-direction: column;
  color: white;
  display: flex;
  width: 18%;
  height: 68%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("../images/fundoContainer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  margin-top: 5px;
  padding: 10px;
  background-color: #969caa;
}

.inputs span {
  font-size: 1.7em;
  margin-right: 2%;
}

.cadastrar {
  width: 90%;
  height: 7%;
  font-size: 1.5em;
  color: white;
  background-color: #969caa;
  margin-top: 15px;
  cursor: pointer;
}

.dead {
  background-image: url("../images/deadpool.png");
  background-size: 100% 100%;
  width: 288px;
  top: 0;
  position: absolute;
  height: 145px;
}