body{
    background-color: black ;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 35px 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
.navlist{
    display: flex;
}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color:white;
    font-size: small;
    transition: all .6s ease;
}
.navlist a:hover{
    color:tomato
}
.log{
    display: flex;
    align-items: center;
}
.sai{
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}
.sai:hover{
    transform: transLateY(-5px);
    border: 2px solid tomato;
    color: tomato;
}
#menu-icon{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}